@media screen and (max-width: 768px){

/*Css da Index*/

.caixa{
    width: auto;
}

h1{
    text-align: center;
}

nav{
    position: initial;
}

nav li{
    text-align: center;
    display: block;
    border-bottom:1px solid #000000 ;
    padding: 10px;
    margin: 0;
}

.principal{
    padding: 2em 0;
    width: auto;
    line-height: 1.5;
}


.mapa-conteudo{
    width: auto;
}

.conteudo-beneficios{
    width: auto;
}

.lista-beneficios, .imagem-beneficios{
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 20px 0;
}


/*Sombramento e opacidade da imagem beneficios, com transição*/
.imagem-beneficios{
    width: 100%;
}


.video{
    width: 100%;
}


/*-----------------------------------------------------------------*/
/*Css dos produtos*/
.produtos{
    width: auto;
}

.produtos li{
    display: block;
    margin: 1.5%;
    width: auto;
}

/*-----------------------------------------------------------------*/
/*Css do Formulário*/
form{
    width: 100%;
}

.input-padrao{
    width: 70%;
}

.enviar{
    width: 60%;
}

.tabela{
    width: 100%;
}



