/*Cor e margin interna do cabeçalho*/
header{
    background-color: #BBBBBB;
    padding: 20px 0;
}
/*Cria a box centralizada, forçando o alinhamento do menu e logo da pag*/
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

main{
    width: 940px;
    margin: 0 auto;
}

/*-----------------------------------------------------------------*/
/*Configuração Formulário*/
form{
    margin: 40px 0;
}
/*Padroniza as labels e o paragrafo para uma melhor apresentação*/
form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
/*Cada item do formulário ocupa uma linha de espaço, tendo seu espaçamento e comprimento definidos*/
.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}
/*Formatação do botão de envio, adicionando uma leve transição quando o cursor estiver sobre ele*/
.enviar{
    width: 40%;
    padding: 15px 0;
    background-color: #ffa500;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background-color: #ff8c00;
    transform: scale(1.1);
}
/*Formatação da tabela e conteúdo*/
table{
    margin: 20px 0 40px;
}

thead{
    background-color: #555555;
    color: #FFFFFF;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

/*-----------------------------------------------------------------*/
/*Configuração produtos*/
/*Move o menu de forma livre para escolha de posicionamento*/
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
/*Posiciona a lista de menu inline e da espaçamento entre cada opção*/
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
/*Letras em Maiúsculas, em negrito, tamanho de fonte, retira sublinhado padrão*/
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
/*Adiciona animação no menu de cabeçalho quando se tem o mouse sobre os link's*/
nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}
/*Cria a box centralizada, para seguir o padrão do cabeçalho*/
.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
/*Posiciona a lista de produtos lado a lado; define o espaçamento interno dentro da resolução pré-definida*/
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}
/*Altera a cor da box dos itens quando o mouse está por cima*/
.produtos li:hover{
    border-color: #C78C19;
}
/*Altera a cor da box dos itens quando o botão do mouse está pressionado*/
.produtos li:active{
    border-color: #088C19;
}
/*Altera o tamanho do titulo do item quando o mouse está por cima da box*/
.produtos li:hover h2{
    font-size: 35px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao{
    font-size: 18px;
}

.produto-preço{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

/*-----------------------------------------------------------------*/
/*Configuração footer*/
/*Background,alinhamento e espaçamento*/
footer{
    text-align: center;
    padding: 40px;
    background-image: url("/imagens/produtos/bg.jpg")
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}